force-app/main/default/flows/Maintain_app_priority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_priority_to_critical</name>
        <label>set priority to critical</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>new_app_priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_app_priority_if_needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_priority_to_high</name>
        <label>set priority to high</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>new_app_priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_app_priority_if_needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_priority_to_Lower</name>
        <label>set priority to Lower</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>new_app_priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lower</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_app_priority_if_needed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>App_priority</name>
        <label>App priority ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>set_priority_to_Lower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lower</defaultConnectorLabel>
        <rules>
            <name>Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_parent_app.WSLog_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_app_config.HighThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_priority_to_critical</targetReference>
            </connector>
            <label>Critical</label>
        </rules>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_parent_app.WSLog_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_app_config.LowerThreshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_priority_to_high</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Maintain app priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maintain app priority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_app_config</name>
        <label>Get app config</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_parent_app</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationThreshold__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_parent_app</name>
        <label>Get parent app</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_app_priority_if_needed</name>
        <label>Update app priority if needed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Priority__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>new_app_priority</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>new_app_priority</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Application__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_app_config</targetReference>
        </connector>
        <object>WSLog__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>new_app_priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
